<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8"/>

    <script src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='d3.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
</head>
<body>
    <h1>GA sample</h1>
    <input type="button" id="test_btn" value="start" />
    <input type="button" id="next_btn" value="next" />

    <script src="{{ url_for('static', filename='drawer.js') }}"></script>
</body>
</html>
